sudo: false
language: rust
matrix:
  include:
    - rust: nightly
      env: TEST_SUITE=suite_nightly
    - rust: beta
      env: TEST_SUITE=suite_beta
    - rust: stable
      env: TEST_SUITE=suite_stable
  allow_failures:
    - rust: nightly
    - rust: beta
script:
  - export DIR="$(pwd)"
  - cd "$DIR/alga" && cargo build --verbose
  - cd "$DIR/alga" && cargo test --verbose;
  - cd "$DIR/alga" && cargo run --example vectors;
  - if [ "$TRAVIS_RUST_VERSION" == "nightly" ]; then
      cd "$DIR/alga_derive_test" && cargo test --verbose;
    fi
